.grid {
  display: grid;
  column-gap: 24px;
  row-gap: 48px;
}

.four {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.three {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 1023px) {
  .four,
  .three {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 599px) {
  .grid {
    column-gap: 12px;
    row-gap: 32px;
  }
}
